.version.index /* version checker */
{
	color: #00000B;
	background-color: #4F9339;
}

.html
{
	background: #FFFFFF url("../images/marble-1529415_1920.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 689.9999999999993px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
	padding-bottom: 59px;
	width: 0.01px;
}

#pmenuu182
{
	width: 0.01px;
	margin-left: 244px;
}

#menuu182
{
	z-index: 5;
	width: 446px;
	margin-right: -10000px;
	left: 3px;
}

#u183
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
}

#u186
{
	width: 147px;
	padding-bottom: 17px;
}

#u186:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u186:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u188-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u186:hover #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u186:active #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u186.MuseMenuActive #u188-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u197
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u200
{
	width: 147px;
	padding-bottom: 17px;
}

#u200:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u200:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u186.MuseMenuActive,#u200.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u201-4
{
	width: 133px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u200:hover #u201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u200:active #u201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u200.MuseMenuActive #u201-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u202
{
	z-index: 18;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 133px;
}

#u200:hover #u202
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u200:active #u202
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u198
{
	width: 120px;
	top: 34px;
}

#u347
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u347:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u349-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u347:hover #u349-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u357
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u347.MuseMenuActive,#u357:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u359-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u347.MuseMenuActive #u349-4,#u357:hover #u359-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u366
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u357.MuseMenuActive,#u366:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u369-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u357.MuseMenuActive #u359-4,#u366:hover #u369-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u371
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u366.MuseMenuActive,#u371:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u373-4
{
	width: 95px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u371:hover #u373-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u371.MuseMenuActive #u373-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u374
{
	z-index: 45;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 3px;
	left: 102px;
}

#u200.MuseMenuActive #u202,#u371:hover #u374
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u371.MuseMenuActive #u374
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u375
{
	width: 120px;
	left: 120px;
}

#u1274
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u371.MuseMenuActive,#u1274:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1276-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u366.MuseMenuActive #u369-4,#u1274:hover #u1276-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u199,#u346,#u356,#u363,#u370,#u376,#u1273,#u1303
{
	width: 120px;
}

#u1304
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u1274.MuseMenuActive,#u1304:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1304.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1305-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1274.MuseMenuActive #u1276-4,#u1304:hover #u1305-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u1304.MuseMenuActive #u1305-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 148px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u207
{
	width: 148px;
	padding-bottom: 17px;
}

#u207:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u207:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u207.MuseMenuActive
{
	width: 146px;
	min-height: 0px;
	margin: 0px;
}

#u210-4
{
	width: 148px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u207:hover #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u207:active #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u207.MuseMenuActive #u210-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u213-4
{
	z-index: 66;
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u214-4
{
	z-index: 70;
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 128px;
}

#u215-4
{
	z-index: 74;
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 293px;
}

#u216-4
{
	z-index: 78;
	width: 29px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 433px;
}

#pu89
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 49px;
}

#u89,#u89-bw
{
	z-index: 2;
	height: 528px;
}

#u104,#u104-bw
{
	z-index: 3;
	height: 528px;
}

#pu246-10
{
	width: 0.01px;
	padding-bottom: 404px;
	margin-left: -51px;
	margin-top: -437px;
}

#u246-10
{
	z-index: 82;
	width: 373px;
	min-height: 179px;
	top: 455px;
	left: 50%;
	margin-left: -531px;
}

#u112
{
	z-index: 4;
	width: 304px;
	height: 304px;
	top: 230px;
	left: 50%;
	margin-left: -152px;
}

#u112:hover
{
	width: 304px;
	height: 304px;
	min-height: 0px;
	margin: 0px 0px 0px -152px;
}

#u112:active
{
	width: 304px;
	height: 304px;
	min-height: 0px;
	margin: 0px 0px 0px -152px;
}

#u261-17
{
	z-index: 92;
	width: 226px;
	min-height: 158px;
	top: 338px;
	left: 50%;
	margin-left: 211px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

